<div class="userdropdown-content">
  
  </div>
  <div class="dropdown">
  <div class="dropdown-toggle navbar-brand">
  <ul class="dropdown-menu">
  <li>
    <a href="#">Cumulative Rating</a>
  </li>
  <li>
    <a href="#">View Game Archive</a>
   </li>
   <li>
    <a href="#">View Game	<%- userid %></a>
   </li>
   <li>
    <a href="#">Follow	</a>
   </li>
   <li>
    <a href="#">Challenge to a Game</a>	
   </li>
   <li>
    <a href="#">Invite to Chat	</a>
    </li>
    <li>
    <a href="#">Add to Friend List	</a>
  </li>
   <li>
    <a href="#">Block Member</a>
  </li>
  </ul>
</div>
</div>
