
  <ul class="userdropdown-content">
  <li>
    <a href="#">Cumulative Rating {{Accounts[<%- userid %>].ELO}}</a>
  </li>
  <li>
    <a href="#">View Game Archive</a>
   </li>
   <li>
    <a href="#">View Game	<%- userid %></a>
   </li>
   <li>
    <a href="#">Follow	</a>
   </li>
   <li>
    <a href="#">Challenge to a Game</a>	
   </li>
   <li>
    <a href="#">Invite to Chat	</a>
    </li>
    <li>
    <a href="#">Add to Friend List	</a>
  </li>
   <li>
    <div ng-click="BlockUser('<%- Myid %>',<%- userid %>)">Block Member</div>
  </li>
  </ul>

