<div class="userdropdown-content">
    <a href="#">Cumulative Rating</a>
    <a href="#">View Game Archive</a>
    <a href="#">View Game	</a>
    <a href="#">Follow	</a>
    <a href="#">Challenge to a Game</a>	
    <a href="#">Invite to Chat	</a>
    <a href="#">Add to Friend List	</a>
    <a href="#">Block Member</a>
  </div>
