<style>
.footerheader{
	font-weight:bold;
	font-size:14px;
	margin-left: 24px;
}
.footerbodytext{
	font-size:14px;
margin-left: 24px;
}
.footersitemapsquare{
	background:#f4f4f4;
	border-right: 1px #cccccc;	
	border-right-style:solid;
	color:#474747;
	 flex:1;
	}

</style>
<div style="display:flex;flex-flow: row wrap;justify-content:center;">
	
<span class="footersitemapsquare">
<span class="footerheader">news</span>

<div class="footerbodytext">
Welcome to our new site!
</div>
</span>
<span class="footersitemapsquare">
	<span class="footerheader">Please Share!</span>
	<div class="footerbodytext">
Social Sites</div>
</span>
	
<span class="footersitemapsquare">
	<span  class="footerheader">Tag Cloud</span>
	<div class="footerbodytext">
Tags</div>
</span>
<span class="footersitemapsquare">
	<span class="footerheader">Fourth Column</span>
<div class="footerbodytext">
The free press
</div>
</span>

</div>
