<!doctype html>
<html>
   <head>
      <title>Chessbond</title>
      <!-- Viewport mobile tag for sensible mobile support -->
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      <!--STYLES-->
      <link rel="stylesheet" href="/styles/angular-toastr.css">
      <link rel="stylesheet" href="/styles/bootstrap.3.1.1.css">
      <link rel="stylesheet" href="/styles/chessboard-0.3.0.min.css">
      <link rel="stylesheet" href="/styles/importer.css">
      <!--STYLES END-->
      <!--SCRIPTS-->
      <script src="/js/dependencies/sails.io.js"></script>
      <script src="/js/dependencies/angular.1.3.js"></script>
      <script src="/js/dependencies/jquery-1.10.1.min.js"></script>
      <script src="/js/dependencies/chessboard-0.3.0.min.js"></script>
      <script src="/js/dependencies/chess.min.js"></script>
      <script src="/js/dependencies/stockfish.js"></script>
      <script src="/js/dependencies/angular-toastr.js"></script>
      <script src="/js/dependencies/bootstrap.min.js"></script>
      <script src="/js/dependencies/compareTo.module.js"></script>
      <script src="/js/dependencies/enginegame.js"></script>
      <script src="/js/HomepageModule.js"></script>
      <script src="/js/HomepageController.js"></script>
      <script src="/js/RegisterController.js"></script>
      <script src="/js/SinglePlayerController.js"></script>
      <script src="/js/TwoPlayerController.js"></script>
      <!--SCRIPTS END-->
   </head>
   <body ng-app="HomepageModule" ng-controller="TwoPlayerController" ng-mousemove="changeFavicon('http://www.chessbond.com/favicon.ico')" ng-focus="PlayBell()" ng-cloak>
      
      <%- include partials/navbar.ejs %>
     <!-- <p>Game Id is   <%-req.param('GameID')%></p>-->
      <script> var GameID='<%- req.param('GameID') %>'</script>
      <% if (!req.session.passport){ %>
      <div ng-init="Guest()"></div>
      <% } %>
     <% if (req.session.passport){ %>
	<% if (req.session.passport.user){ %>
       	<div ng-init="SoleConnectorFunction('<%- req.session.passport.user %>')"></div>

        
       <%}%>
       <%}%>
<div class="row">
	<div class="col-md-12">
		<div class="row">
			<div id="boardcontainercontainer" class="col-md-6">
			
				<div id="boardcontainer" class="col-md-12">
				</div>

				<div id="infocontainer" class="col-md-12">
				<img style="position:relative;height:100px;" src='/images/eye2.png'>
				<img id="opponentpic" style="position:absolute;left:{{pic1coordx}}px;top:{{pic1coordy}}px;"ng-mouseleave="smallimage1()" ng-mouseenter="bigimage1()" height = '{{pic1height}}px' ng-src="{{TopPlayerPic}}">
				<span class="label label-success" >{{BottomPlayerName}}</span>
				<img ng-src="{{BottomPlayerFlag}}">
				<span ng-init="DoPingInterval()">Ping {{PingDisplay}}</span>
				<span ng_show ="BottomMinutes>0" span class="h3" id="time1">{{BottomMinutes}}:{{BottomSeconds}}:{{BottomMilliseconds}}</span>
				<span ng_show ="BottomMinutes==0" span class="h3" id="time1" style="color:#DD0000">{{BottomMinutes}}:{{BottomSeconds}}:{{BottomMilliseconds}}</span>
        
				</div>
			</div>
		</div>
	</div>
</div>
  
 
   </body>
</html>