<!DOCTYPE html>
<html>
  <head>
    <title>Chessbond</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--STYLES-->
    
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->


  </head>

  <body ng-app="HomepageModule" ng-controller="ProfileController" ng-cloak>
   <% if (req.session.passport){ %>
	<% if (req.session.passport.user){ %>
	<div ng-init="SoleConnectorFunction('<%- req.session.passport.user %>')"></div>
	 <% } %>
   <% } %>

   <%- include partials/navbar.ejs %>
    <div class=" col-md-8 col-md-offset-2">
    <div  ng-show="SoleConnectorVariable=='true'" class="jumbotron">
        <h1>Profile</h1>
         <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
          <h2>Highest Difficulty Level Beaten:{{User.DifficultyLevelBeaten}}</h2>
            <h2>ELO rating score:{{User.ELO}}</h2>
         
           <% } %>
           <% } %>
            <a href="/playvsai" class="btn btn-lg btn-success">Play Chess against the AI!</a>
	
	 </div>
    </div>
    
       <% if (req.session.passport){ %>
			<% if (req.session.passport.user){ %>
   <div  ng-show="SoleConnectorVariable=='true'" id="row">
    <div class="col-md-4">
		</div>
    <div class="col-md-4">

	 <select ng-show="User" class="form-control" name="mySelect" id="mySelect"
      ng-model="User.Country"
      ng-change="PrefSelectChanged('Country','<%-req.session.passport.user%>',null)"
      >
      <option ng-repeat="c in countries track by $index" value="{{c.name}}">
		  {{c.name}}</option>
					
				</select>
	</div>
		
		 <div class="col-md-4">
	 
	<img src="/images/flags/{{countryTofilename(User.Country)}}.png">
	</div>
	
	
	<div class="col-md-4">
	 </div>
	<div id="row" class="col-md-12">
	 <h2 class="sub-header">Recent Games</h2>
          <div id="row"  class="table-responsive">
            <table class="table table-striped">
              
		
			<thead>
                <tr>
	              <th>Player1</th>
                  <th>Player2</th>
                  
				<!--HEADERS OF TABLE-->
                </tr>
           </thead>
           <tbody>
				  
            <tr ng-repeat="game in MyGames track by $index">
			<td>{{game.Player1Name}}</td>
			<td>{{game.Player2Name}}</td>
			
			<td>
				<button ng-click="PlayGame(game.id,game.Player2)" class="btn btn-lg btn-success" >Play Game</a>
				<button ng-click="deletegame(game.id,'<%-  req.session.passport.user %>')">Delete Game</button>
			</td>
			
			</tr>
            </tbody>
            </table>
          </div>
          </div>
          
	  <% } %>
           <% } %>
	



    <!--SCRIPTS-->

    <!--SCRIPTS END-->
  </body>
</html>
