.profilepic
{
width:100px;
height:100px;
position:relative;
z-index: 1;
}
.smallprofilepic
{
width:25px;
height:25px;
position:relative;
z-index: 1;
}
.onlinecircle
{
position:absolute;
z-index: 2;
bottom: -4px;
}
/* Small screens */

  .mynavbar {
    /* On small screens, we are no longer using row direction but column */
    display:flex;
    wrap:flex ;
   background-color:black;
    justify-content:space-between;
    align-items:center
  }
  /* Small screens */
@media all and (max-width: 500px) {
  .mynavbar {
  flex-direction: column;
}
