.profilepic
{
width:100px;
height:100px;
position:relative;
z-index: 1;
}
.countryflag
{

color:#AAAAAA;
background-color: #d2d2d2;
padding: 2px;
height:64px; 
width:64px; 
}
.smallprofilepic
{
width:25px;
height:25px;
position:relative;
z-index: 1;
}
.onlinecircle
{
position:absolute;
z-index: 2;
bottom: -4px;
}
/* Small screens */

  .mynavbar {
    /* On small screens, we are no longer using row direction but column */
    display:flex;
    flex-wrap:nowrap ;
   background-color:black;
    justify-content:space-between;
    align-items:center
  }
  
.KbigButton{
color:white;
font-size:2em;
border-radius: 9px;
text-align:center;
padding:5px;
}
.KregularButton{
color:white;
font-size:1em;
border-radius: 9px;
text-align:center;
padding:5px;
}

.KgreenElement
{
background: #5cb85c;

}
.KcyanElement
{
background-color: #5bc0de;

}

  /* Small screens */
@media all and (max-width: 500px) {
  .mynavbar {
  flex-direction: column;
}
@media only screen and (max-width: 480px) {
       h1 { font-size: 3em !important; }
       h2 { font-size: 2em !important; }
       h3 { font-size: 1em !important; }
     }
